* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

                height: 100%;
                width: 100%;
                position: absolute;
                bottom: 0;
                margin: 0;
                padding: 0;
                background-color: #000000;
                font-family: sans-serif;
                color: #ffffff;
                vertical-align: bottom;

}

            #warning {
                position: absolute;
                max-height: 100%;
                /* display: flex; */
                bottom: 0;
                padding-top: 0em;
                padding-bottom: 32px;
                padding-left: 32px;
                padding-right: 32px;
                z-index: 11;
            }

            #warning img {
              width: 100%;
              height: -webkit-fill-available;
              object-fit: contain;
            }

            #warning iframe {
              width: 1280px;
              height: 720px;
            }

            #bw, #bw-inv {
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: 55;
            }

            #dot, #dot-inv {
                position: absolute;
                top: 0px;
                right: 72px;
                z-index: 55;
            }

            #bw-inv, #dot-inv {
                display: none;
            }

            #input {
                position: absolute;
                width: 100%;
                height: 32px;
                bottom: 0;
                word-wrap: break-word;
                word-break: break-word;
                font-size: 24px;
                box-shadow: 3px 3px 8px rgba(0,0,0,0.4) inset, -2px -2px 4px rgba(0,0,0,0.2) inset;
                z-index: 99;
            }
